/ MAIN CONTENT
#content-block
  .container.custom-container.be-detail-container
    .block
      %h2.content-title
        About project
      .block-subtitle Transmogram is a resource, created by passionate WoW fashionists. We would love to give you the opportunity to share the most fabulous character outfits with the world. Let the community decide how awesome your transmog set ist!
      .contect-form.centered_narrow
        %p{style: "padding-bottom: 15px;"}
          You can use this public Trello board for suggesting improvements. Everyone is welcome!
          %a{href: "https://trello.com/b/DDYwxNr0/transmogram-development", target: "_blank" }https://trello.com/b/DDYwxNr0/transmogram-development
        %p.mb-15
          For developers:
          You can find this project on Github and suggest things there -
          %a{href: "https://github.com/mohnstrudel/transmogram", target: "_blank" }https://github.com/mohnstrudel/transmogram