.container-fluid.cd-main-content.custom-container
  .row.search_padding_bottom
    =form_with url: search_path, method: :get, class: 'input-search' do |form|
      .col-md-2.left-feild
        = form.text_field :query, value: params[:query], placeholder: '#hashtag'
        / %input{:type => "submit", :value => ""}/
      .col-md-4
        .be-custom-select-block
          =form.select 'armor_type', options_for_select(ArmorType.all.map{|el| [el.value, el.id]}), { prompt: "Select Armor Type" }, class: 'be-custom-select'
      .col-md-4
        .be-custom-select-block
          =form.select 'class_type', options_for_select(ClassType.all.map{|el| [el.value, el.id]}), { prompt: "Select Character Class" }, class: 'be-custom-select'
      .col-md-2.left-feild
        .submit-custom-select-block
          = form.submit 'Press to search...', class: "be-custom-submit"

.container-fluid.custom-container
  .row
    .col-md-2.left-feild
      / .be-vidget
      /   %h3.letf-menu-article
      /     Popular Creative Filds
      /   .creative_filds_block
      /     .ul
      /       %a.filter{"data-filter" => ".category-1"} Graphic Design
      /       %a.filter{"data-filter" => ".category-2"} Photography
      /       %a.filter{"data-filter" => ".category-3"} Interaction Design
      /       %a.filter{"data-filter" => ".category-4"} Art Direction
      /       %a.filter{"data-filter" => ".category-5"} Illustration
      .be-vidget
        %h3.letf-menu-article
          Popular Tags
        .tags_block.clearfix
          =render partial: 'front/shared/popular_tags'
    .col-md-10
      #container-mix.row._post-container_
        -cache @posts do
          =render partial: "front/posts/posts", locals: { posts: @posts}

