%body.hold-transition.light-skin.sidebar-mini.theme-fruit
  .wrapper
    .art-bg
      %img.art-img.light-img{:alt => "", :src => "../images/art1.svg"}/
      %img.art-img.dark-img{:alt => "", :src => "../images/art2.svg"}/
    %header.main-header
      / Logo
      %a.logo{:href => "index.html"}
        / mini logo
        .logo-mini
          %span.light-logo
            %img{:alt => "logo", :src => "../images/logo-light.png"}/
          %span.dark-logo
            %img{:alt => "logo", :src => "../images/logo-dark.png"}/
        / logo
        .logo-lg
          %span.light-logo
            %img{:alt => "logo", :src => "../images/logo-light-text.png"}/
          %span.dark-logo
            %img{:alt => "logo", :src => "../images/logo-dark-text.png"}/
      / Header Navbar
      %nav.navbar.navbar-static-top
        / Sidebar toggle button
        %div
          %a.sidebar-toggle{"data-toggle" => "push-menu", :href => "#", :role => "button"}
            %i.ti-align-left
          %a.sidebar-toggle{"data-provide" => "fullscreen", :href => "#", :title => "Full Screen"}
            %i.mdi.mdi-crop-free
        .navbar-custom-menu.r-side
          %ul.nav.navbar-nav
            / full Screen
            %li.search-bar
              .lookup.lookup-circle.lookup-right
                %input{:name => "s", :type => "text"}/
            / Messages
            %li.dropdown.messages-menu
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :title => "Messages"}
                %i.mdi.mdi-email
              %ul.dropdown-menu.animated.bounceIn
                %li.header
                  .p-20.bg-light
                    .flexbox
                      %div
                        %h4.mb-0.mt-0 Messages
                      %div
                        %a.text-danger{:href => "#"} Clear All
                %li
                  / inner menu: contains the actual data
                  %ul.menu.sm-scrol
                    %li
                      / start message
                      %a{:href => "#"}
                        .pull-left
                          %img.rounded-circle{:alt => "User Image", :src => "../images/user2-160x160.jpg"}/
                        .mail-contnet
                          %h4
                            Lorem Ipsum
                            %small
                              %i.fa.fa-clock-o
                              15 mins
                          %span Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    / end message
                    %li
                      %a{:href => "#"}
                        .pull-left
                          %img.rounded-circle{:alt => "User Image", :src => "../images/user3-128x128.jpg"}/
                        .mail-contnet
                          %h4
                            Nullam tempor
                            %small
                              %i.fa.fa-clock-o
                              4 hours
                          %span Curabitur facilisis erat quis metus congue viverra.
                    %li
                      %a{:href => "#"}
                        .pull-left
                          %img.rounded-circle{:alt => "User Image", :src => "../images/user4-128x128.jpg"}/
                        .mail-contnet
                          %h4
                            Proin venenatis
                            %small
                              %i.fa.fa-clock-o
                              Today
                          %span Vestibulum nec ligula nec quam sodales rutrum sed luctus.
                    %li
                      %a{:href => "#"}
                        .pull-left
                          %img.rounded-circle{:alt => "User Image", :src => "../images/user3-128x128.jpg"}/
                        .mail-contnet
                          %h4
                            Praesent suscipit
                            %small
                              %i.fa.fa-clock-o
                              Yesterday
                          %span Curabitur quis risus aliquet, luctus arcu nec, venenatis neque.
                    %li
                      %a{:href => "#"}
                        .pull-left
                          %img.rounded-circle{:alt => "User Image", :src => "../images/user4-128x128.jpg"}/
                        .mail-contnet
                          %h4
                            Donec tempor
                            %small
                              %i.fa.fa-clock-o
                              2 days
                          %span Praesent vitae tellus eget nibh lacinia pretium.
                %li.footer
                  %a.bg-light{:href => "#"} See all e-Mails
            / Notifications
            %li.dropdown.notifications-menu
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :title => "Notifications"}
                %i.mdi.mdi-bell
              %ul.dropdown-menu.animated.bounceIn
                %li.header
                  .bg-light.p-20
                    .flexbox
                      %div
                        %h4.mb-0.mt-0 Notifications
                      %div
                        %a.text-danger{:href => "#"} Clear All
                %li
                  / inner menu: contains the actual data
                  %ul.menu.sm-scrol
                    %li
                      %a{:href => "#"}
                        %i.fa.fa-users.text-info
                        Curabitur id eros quis nunc suscipit blandit.
                    %li
                      %a{:href => "#"}
                        %i.fa.fa-warning.text-warning
                        Duis malesuada justo eu sapien elementum, in semper diam posuere.
                    %li
                      %a{:href => "#"}
                        %i.fa.fa-users.text-danger
                        Donec at nisi sit amet tortor commodo porttitor pretium a erat.
                    %li
                      %a{:href => "#"}
                        %i.fa.fa-shopping-cart.text-success
                        In gravida mauris et nisi
                    %li
                      %a{:href => "#"}
                        %i.fa.fa-user.text-danger
                        Praesent eu lacus in libero dictum fermentum.
                    %li
                      %a{:href => "#"}
                        %i.fa.fa-user.text-primary
                        Nunc fringilla lorem
                    %li
                      %a{:href => "#"}
                        %i.fa.fa-user.text-success
                        Nullam euismod dolor ut quam interdum, at scelerisque ipsum imperdiet.
                %li.footer
                  %a.bg-light{:href => "#"} View all
            / User Account
            %li.dropdown.user.user-menu
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :title => "User"}
                %img.user-image.rounded-circle{:alt => "User Image", :src => "../images/avatar/7.jpg"}/
              %ul.dropdown-menu.animated.flipInX
                / User image
                %li.user-header.bg-img{"data-overlay" => "3", :style => "background-image: url(../images/user-info.jpg)"}
                  .flexbox.align-self-center
                    %img.float-left.rounded-circle{:alt => "User Image", :src => "../images/avatar/7.jpg"}/
                    %h4.user-name.align-self-center
                      %span Samuel Brus
                      %small samuel@gmail.com
                / Menu Body
                %li.user-body
                  %a.dropdown-item{:href => "javascript:void(0)"}
                    %i.ion.ion-person
                    My Profile
                  %a.dropdown-item{:href => "javascript:void(0)"}
                    %i.ion.ion-bag
                    My Balance
                  %a.dropdown-item{:href => "javascript:void(0)"}
                    %i.ion.ion-email-unread
                    Inbox
                  .dropdown-divider
                  %a.dropdown-item{:href => "javascript:void(0)"}
                    %i.ion.ion-settings
                    Account Setting
                  .dropdown-divider
                  %a.dropdown-item{:href => "javascript:void(0)"}
                    %i.ion-log-out
                    Logout
                  .dropdown-divider
                  .p-10
                    %a.btn.btn-sm.btn-rounded.btn-success{:href => "javascript:void(0)"} View Profile
            / Control Sidebar Toggle Button
            %li
              %a{"data-toggle" => "control-sidebar", :href => "#", :title => "Setting"}
                %i.fa.fa-cog.fa-spin
    / Left side column. contains the logo and sidebar
    %aside.main-sidebar
      / sidebar
      %section.sidebar
        .user-profile
          .ulogo
            %a{:href => "index.html"}
              / logo for regular state and mobile devices
              %h2
                %b> CrmX
                Admin
          .profile-pic
            %img{:alt => "user", :src => "../images/user5-128x128.jpg"}/
            .profile-info
              %h4 John Doe
              .list-icons-item.dropdown
                %a.list-icons-item.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  %span.badge.badge-ring.fill.badge-primary.mr-2>
                  Online
                .dropdown-menu.dropdown-menu-right
                  %a.dropdown-item{:href => "#"} Update data
                  %a.dropdown-item{:href => "#"} Detailed log
                  %a.dropdown-item{:href => "#"} Statistics
                  %a.dropdown-item{:href => "#"} Clear list
        / sidebar menu
        %ul.sidebar-menu{"data-widget" => "tree"}
          %li.header.nav-small-cap PERSONAL
          %li.treeview.active
            %a{:href => "#"}
              %i.ti-dashboard
              %span Dashboard
              %span.pull-right-container
                %i.fa.fa-angle-right.pull-right
            %ul.treeview-menu
              %li.active
                %a{:href => "index.html"}
                  %i.ti-more>
                  Main Dashboard
              %li
                %a{:href => "index-2.html"}
                  %i.ti-more>
                  e-Commerce Dashboard
              %li
                %a{:href => "index-3.html"}
                  %i.ti-more>
                  Analytics
              %li
                %a{:href => "index-4.html"}
                  %i.ti-more>
                  Hospital
          %li.treeview
            %a{:href => "#"}
              %i.ti-files
              %span Layout Options
              %span.pull-right-container
                %i.fa.fa-angle-right.pull-right
            %ul.treeview-menu
              %li
                %a{:href => "pages/layout_boxed.html"}
                  %i.ti-more>
                  Boxed
              %li
                %a{:href => "pages/layout_fixed.html"}
                  %i.ti-more>
                  Fixed
              %li
                %a{:href => "pages/layout_collapsed_sidebar.html"}
                  %i.ti-more>
                  Mini Sidebar
          %li.treeview
            %a{:href => "#"}
              %i.ti-direction-alt
              %span Page Layouts
              %span.pull-right-container
                %i.fa.fa-angle-right.pull-right
            %ul.treeview-menu
              %li
                %a{:href => "pages/page_layout_inner_left_sidebar.html"}
                  %i.ti-more>
                  Inner Left Sidebar
              %li
                %a{:href => "pages/page_layout_inner_right_sidebar.html"}
                  %i.ti-more>
                  Inner Right Sidebar
              %li
                %a{:href => "pages/page_layout_inner_fixed_left_sidebar.html"}
                  %i.ti-more>
                  Inner Fixed Left Sidebar
              %li
                %a{:href => "pages/page_layout_inner_fixed_right_sidebar.html"}
                  %i.ti-more>
                  Inner Fixed Right Sidebar
          %li.header.nav-small-cap APPS
          %li.treeview
            %a{:href => "#"}
              %i.ti-email
              %span Mailbox
              %span.pull-right-container
                %i.fa.fa-angle-right.pull-right
            %ul.treeview-menu
              %li
                %a{:href => "pages/mailbox_inbox.html"}
                  %i.ti-more>
                  Inbox
              %li
                %a{:href => "pages/mailbox_compose.html"}
                  %i.ti-more>
                  Compose
              %li
                %a{:href => "pages/mailbox_read_mail.html"}
                  %i.ti-more>
                  Read
          %li.treeview
            %a{:href => "#"}
              %i.ti-user
              %span Contact
              %span.pull-right-container
                %i.fa.fa-angle-right.pull-right
            %ul.treeview-menu
              %li
                %a{:href => "pages/contact_app_chat.html"}
                  %i.ti-more>
                  Chat app
              %li
                %a{:href => "pages/contact_app.html"}
                  %i.ti-more>
                  Contact / Employee
              %li
                %a{:href => "pages/contact_userlist_grid.html"}
                  %i.ti-more>
                  Userlist Grid
              %li
                %a{:href => "pages/contact_userlist.html"}
                  %i.ti-more>
                  Userlist
          %li.treeview
            %a{:href => "#"}
              %i.ti-layout-grid2
              %span Extra
              %span.pull-right-container
                %i.fa.fa-angle-right.pull-right
            %ul.treeview-menu
              %li
                %a{:href => "pages/extra_app_ticket.html"}
                  %i.ti-more>
                  Support Ticket
              %li
                %a{:href => "pages/extra_calendar.html"}
                  %i.ti-more>
                  Calendar
              %li
                %a{:href => "pages/extra_profile.html"}
                  %i.ti-more>
                  Profile
              %li
                %a{:href => "pages/extra_taskboard.html"}
                  %i.ti-more>
                  Project DashBoard
          %li.header.nav-small-cap UI
          %li.treeview
            %a{:href => "#"}
              %i.ti-pencil-alt
              %span UI Elements
              %span.pull-right-container
                %i.fa.fa-angle-right.pull-right
            %ul.treeview-menu
              %li
                %a{:href => "pages/ui_badges.html"}
                  %i.ti-more>
                  Badges
              %li
                %a{:href => "pages/ui_border_utilities.html"}
                  %i.ti-more>
                  Border
              %li
                %a{:href => "pages/ui_buttons.html"}
                  %i.ti-more>
                  Buttons
              %li
                %a{:href => "pages/ui_color_utilities.html"}
                  %i.ti-more>
                  Color
              %li
                %a{:href => "pages/ui_dropdown.html"}
                  %i.ti-more>
                  Dropdown
              %li
                %a{:href => "pages/ui_dropdown_grid.html"}
                  %i.ti-more>
                  Dropdown Grid
              %li
                %a{:href => "pages/ui_typography.html"}
                  %i.ti-more>
                  Typography
              %li
                %a{:href => "pages/ui_progress_bars.html"}
                  %i.ti-more>
                  Progress Bars
              %li
                %a{:href => "pages/ui_grid.html"}
                  %i.ti-more>
                  Grid
              %li
                %a{:href => "pages/ui_ribbons.html"}
                  %i.ti-more>
                  Ribbons
              %li
                %a{:href => "pages/ui_sliders.html"}
                  %i.ti-more>
                  Sliders
              %li
                %a{:href => "pages/ui_tab.html"}
                  %i.ti-more>
                  Tabs
              %li
                %a{:href => "pages/ui_timeline.html"}
                  %i.ti-more>
                  Timeline
              %li
                %a{:href => "pages/ui_timeline_horizontal.html"}
                  %i.ti-more>
                  Horizontal Timeline
          %li.treeview
            %a{:href => "#"}
              %i.ti-smallcap
              %span Icons
              %span.pull-right-container
                %i.fa.fa-angle-right.pull-right
            %ul.treeview-menu
              %li
                %a{:href => "pages/icons_fontawesome.html"}
                  %i.ti-more>
                  Font Awesome
              %li
                %a{:href => "pages/icons_glyphicons.html"}
                  %i.ti-more>
                  Glyphicons
              %li
                %a{:href => "pages/icons_material.html"}
                  %i.ti-more>
                  Material Icons
              %li
                %a{:href => "pages/icons_themify.html"}
                  %i.ti-more>
                  Themify Icons
              %li
                %a{:href => "pages/icons_simpleline.html"}
                  %i.ti-more>
                  Simple Line Icons
              %li
                %a{:href => "pages/icons_cryptocoins.html"}
                  %i.ti-more>
                  Cryptocoins Icons
              %li
                %a{:href => "pages/icons_flag.html"}
                  %i.ti-more>
                  Flag Icons
              %li
                %a{:href => "pages/icons_weather.html"}
                  %i.ti-more>
                  Weather Icons
          %li.treeview
            %a{:href => "#"}
              %i.ti-check-box
              %span Components
              %span.pull-right-container
                %i.fa.fa-angle-right.pull-right
            %ul.treeview-menu
              %li
                %a{:href => "pages/component_bootstrap_switch.html"}
                  %i.ti-more>
                  Bootstrap Switch
              %li
                %a{:href => "pages/component_date_paginator.html"}
                  %i.ti-more>
                  Date Paginator
              %li
                %a{:href => "pages/component_media_advanced.html"}
                  %i.ti-more>
                  Advanced Medias
              %li
                %a{:href => "pages/component_modals.html"}
                  %i.ti-more>
                  Modals
              %li
                %a{:href => "pages/component_nestable.html"}
                  %i.ti-more>
                  Nestable
              %li
                %a{:href => "pages/component_notification.html"}
                  %i.ti-more>
                  Notification
              %li
                %a{:href => "pages/component_portlet_draggable.html"}
                  %i.ti-more>
                  Draggable Portlets
              %li
                %a{:href => "pages/component_sweatalert.html"}
                  %i.ti-more>
                  Sweet Alert
              %li
                %a{:href => "pages/component_rangeslider.html"}
                  %i.ti-more>
                  Range Slider
              %li
                %a{:href => "pages/component_rating.html"}
                  %i.ti-more>
                  Ratings
              %li
                %a{:href => "pages/component_animations.html"}
                  %i.ti-more>
                  Animations
          %li.treeview
            %a{:href => "#"}
              %i.ti-package
              %span Box Cards
              %span.pull-right-container
                %i.fa.fa-angle-right.pull-right
            %ul.treeview-menu
              %li
                %a{:href => "pages/box_cards.html"}
                  %i.ti-more>
                  User Card
              %li
                %a{:href => "pages/box_advanced.html"}
                  %i.ti-more>
                  Advanced Card
              %li
                %a{:href => "pages/box_basic.html"}
                  %i.ti-more>
                  Basic Card
              %li
                %a{:href => "pages/box_color.html"}
                  %i.ti-more>
                  Card Color
              %li
                %a{:href => "pages/box_group.html"}
                  %i.ti-more>
                  Card Group
          %li.treeview
            %a{:href => "#"}
              %i.ti-palette
              %span Widgets
              %span.pull-right-container
                %i.fa.fa-angle-right.pull-right
            %ul.treeview-menu
              %li
                %a{:href => "pages/widgets_blog.html"}
                  %i.ti-more>
                  Blog
              %li
                %a{:href => "pages/widgets_chart.html"}
                  %i.ti-more>
                  Chart
              %li
                %a{:href => "pages/widgets_list.html"}
                  %i.ti-more>
                  List
              %li
                %a{:href => "pages/widgets_social.html"}
                  %i.ti-more>
                  Social
              %li
                %a{:href => "pages/widgets_statistic.html"}
                  %i.ti-more>
                  Statistic
              %li
                %a{:href => "pages/widgets_weather.html"}
                  %i.ti-more>
                  Weather
              %li
                %a{:href => "pages/widgets.html"}
                  %i.ti-more>
                  Widgets
          %li.header.nav-small-cap FORMS And TABLES
          %li.treeview
            %a{:href => "#"}
              %i.ti-write
              %span Forms
              %span.pull-right-container
                %i.fa.fa-angle-right.pull-right
            %ul.treeview-menu
              %li
                %a{:href => "pages/forms_advanced.html"}
                  %i.ti-more>
                  Advanced Elements
              %li
                %a{:href => "pages/forms_code_editor.html"}
                  %i.ti-more>
                  Code Editor
              %li
                %a{:href => "pages/forms_editor_markdown.html"}
                  %i.ti-more>
                  Markdown
              %li
                %a{:href => "pages/forms_editors.html"}
                  %i.ti-more>
                  Editors
              %li
                %a{:href => "pages/forms_validation.html"}
                  %i.ti-more>
                  Form Validation
              %li
                %a{:href => "pages/forms_wizard.html"}
                  %i.ti-more>
                  Form Wizard
              %li
                %a{:href => "pages/forms_general.html"}
                  %i.ti-more>
                  General Elements
              %li
                %a{:href => "pages/forms_mask.html"}
                  %i.ti-more>
                  Formatter
              %li
                %a{:href => "pages/forms_xeditable.html"}
                  %i.ti-more>
                  Xeditable Editor
              %li
                %a{:href => "pages/forms_dropzone.html"}
                  %i.ti-more>
                  Dropzone
          %li.treeview
            %a{:href => "#"}
              %i.ti-layout-grid4
              %span Tables
              %span.pull-right-container
                %i.fa.fa-angle-right.pull-right
            %ul.treeview-menu
              %li
                %a{:href => "pages/tables_simple.html"}
                  %i.ti-more>
                  Simple tables
              %li
                %a{:href => "pages/tables_data.html"}
                  %i.ti-more>
                  Data tables
              %li
                %a{:href => "pages/tables_editable.html"}
                  %i.ti-more>
                  Editable Tables
              %li
                %a{:href => "pages/tables_color.html"}
                  %i.ti-more>
                  Table Color
          %li.header.nav-small-cap CHARTS
          %li
            %a{:href => "pages/charts_chartjs.html"}
              %i.ti-stats-up
              %span ChartJS
          %li
            %a{:href => "pages/charts_flot.html"}
              %i.ti-pulse
              %span Flot
          %li
            %a{:href => "pages/charts_inline.html"}
              %i.ti-bar-chart
              %span Inline charts
          %li
            %a{:href => "pages/charts_morris.html"}
              %i.ti-stats-down
              %span Morris
          %li
            %a{:href => "pages/charts_peity.html"}
              %i.ti-pie-chart
              %span Peity
          %li
            %a{:href => "pages/charts_chartist.html"}
              %i.ti-bar-chart-alt
              %span Chartist
          %li.treeview
            %a{:href => "#"}
              %i.ti-stats-up
              %span C3 Charts
              %span.pull-right-container
                %i.fa.fa-angle-right.pull-right
            %ul.treeview-menu
              %li
                %a{:href => "pages/charts_c3_axis.html"}
                  %i.ti-more>
                  Axis Chart
              %li
                %a{:href => "pages/charts_c3_bar.html"}
                  %i.ti-more>
                  Bar Chart
              %li
                %a{:href => "pages/charts_c3_data.html"}
                  %i.ti-more>
                  Data Chart
              %li
                %a{:href => "pages/charts_c3_line.html"}
                  %i.ti-more>
                  Line Chart
          %li.treeview
            %a{:href => "#"}
              %i.ti-pie-chart
              %span Echarts
              %span.pull-right-container
                %i.fa.fa-angle-right.pull-right
            %ul.treeview-menu
              %li
                %a{:href => "pages/charts_echarts_basic.html"}
                  %i.ti-more>
                  Basic Charts
              %li
                %a{:href => "pages/charts_echarts_bar.html"}
                  %i.ti-more>
                  Bar Chart
              %li
                %a{:href => "pages/charts_echarts_pie_doughnut.html"}
                  %i.ti-more>
                  Pie &amp; Doughnut Chart
          %li.header.nav-small-cap EXTRA COMPONENTS
          %li
            %a{:href => "pages/email_index.html"}
              %i.ti-envelope
              %span Emails
          %li.treeview
            %a{:href => "#"}
              %i.ti-map-alt
              %span Map
              %span.pull-right-container
                %i.fa.fa-angle-right.pull-right
            %ul.treeview-menu
              %li
                %a{:href => "pages/map_google.html"}
                  %i.ti-more>
                  Google Map
              %li
                %a{:href => "pages/map_vector.html"}
                  %i.ti-more>
                  Vector Map
          %li.treeview
            %a{:href => "#"}
              %i.ti-plug
              %span Extension
              %span.pull-right-container
                %i.fa.fa-angle-right.pull-right
            %ul.treeview-menu
              %li
                %a{:href => "pages/extension_fullscreen.html"}
                  %i.ti-more>
                  Fullscreen
              %li
                %a{:href => "pages/extension_pace.html"}
                  %i.ti-more>
                  Pace
          %li.header.nav-small-cap SAMPLE PAGES
          %li.treeview
            %a{:href => "#"}
              %i.ti-shopping-cart
              %span Ecommerce Pages
              %span.pull-right-container
                %i.fa.fa-angle-right.pull-right
            %ul.treeview-menu
              %li
                %a{:href => "pages/ecommerce_products.html"}
                  %i.ti-more>
                  Products
              %li
                %a{:href => "pages/ecommerce_cart.html"}
                  %i.ti-more>
                  Products Cart
              %li
                %a{:href => "pages/ecommerce_products_edit.html"}
                  %i.ti-more>
                  Products Edit
              %li
                %a{:href => "pages/ecommerce_details.html"}
                  %i.ti-more>
                  Product Details
              %li
                %a{:href => "pages/ecommerce_orders.html"}
                  %i.ti-more>
                  Product Orders
              %li
                %a{:href => "pages/ecommerce_checkout.html"}
                  %i.ti-more>
                  Products Checkout
          %li.treeview
            %a{:href => "#"}
              %i.ti-shield
              %span Authentication
              %span.pull-right-container
                %i.fa.fa-angle-right.pull-right
            %ul.treeview-menu
              %li
                %a{:href => "pages/auth_login.html"}
                  %i.ti-more>
                  Login
              %li
                %a{:href => "pages/auth_login2.html"}
                  %i.ti-more>
                  Login 2
              %li
                %a{:href => "pages/auth_register.html"}
                  %i.ti-more>
                  Register
              %li
                %a{:href => "pages/auth_register2.html"}
                  %i.ti-more>
                  Register 2
              %li
                %a{:href => "pages/auth_lockscreen.html"}
                  %i.ti-more>
                  Lockscreen
              %li
                %a{:href => "pages/auth_user_pass.html"}
                  %i.ti-more>
                  Recover password
          %li.treeview
            %a{:href => "#"}
              %i.ti-receipt
              %span Invoice
              %span.pull-right-container
                %i.fa.fa-angle-right.pull-right
            %ul.treeview-menu
              %li
                %a{:href => "pages/invoice.html"}
                  %i.ti-more>
                  Invoice
              %li
                %a{:href => "pages/invoicelist.html"}
                  %i.ti-more>
                  Invoice List
          %li.treeview
            %a{:href => "#"}
              %i.ti-alert
              %span Error Pages
              %span.pull-right-container
                %i.fa.fa-angle-right.pull-right
            %ul.treeview-menu
              %li
                %a{:href => "pages/error_400.html"}
                  %i.ti-more>
                  Error 400
              %li
                %a{:href => "pages/error_403.html"}
                  %i.ti-more>
                  Error 403
              %li
                %a{:href => "pages/error_404.html"}
                  %i.ti-more>
                  Error 404
              %li
                %a{:href => "pages/error_500.html"}
                  %i.ti-more>
                  Error 500
              %li
                %a{:href => "pages/error_503.html"}
                  %i.ti-more>
                  Error 503
              %li
                %a{:href => "pages/error_maintenance.html"}
                  %i.ti-more>
                  Maintenance
          %li.treeview
            %a{:href => "#"}
              %i.ti-files
              %span Sample Pages
              %span.pull-right-container
                %i.fa.fa-angle-right.pull-right
            %ul.treeview-menu
              %li
                %a{:href => "pages/sample_blank.html"}
                  %i.ti-more>
                  Blank
              %li
                %a{:href => "pages/sample_coming_soon.html"}
                  %i.ti-more>
                  Coming Soon
              %li
                %a{:href => "pages/sample_custom_scroll.html"}
                  %i.ti-more>
                  Custom Scrolls
              %li
                %a{:href => "pages/sample_faq.html"}
                  %i.ti-more>
                  FAQ
              %li
                %a{:href => "pages/sample_gallery.html"}
                  %i.ti-more>
                  Gallery
              %li
                %a{:href => "pages/sample_lightbox.html"}
                  %i.ti-more>
                  Lightbox Popup
              %li
                %a{:href => "pages/sample_pricing.html"}
                  %i.ti-more>
                  Pricing
          %li.header.nav-small-cap EXTRA
          %li.treeview
            %a{:href => "#"}
              %i.ti-view-list
              %span Multilevel
              %span.pull-right-container
                %i.fa.fa-angle-right.pull-right
            %ul.treeview-menu
              %li
                %a{:href => "#"} Level One
              %li.treeview
                %a{:href => "#"}
                  Level One
                  %span.pull-right-container
                    %i.fa.fa-angle-right.pull-right
                %ul.treeview-menu
                  %li
                    %a{:href => "#"} Level Two
                  %li.treeview
                    %a{:href => "#"}
                      Level Two
                      %span.pull-right-container
                        %i.fa.fa-angle-right.pull-right
                    %ul.treeview-menu
                      %li
                        %a{:href => "#"} Level Three
                      %li
                        %a{:href => "#"} Level Three
              %li
                %a{:href => "#"} Level One
          %li
            %a{:href => "pages/auth_login.html"}
              %i.ti-power-off
              %span Log Out
    / Content Wrapper. Contains page content
    .content-wrapper
      .container-full
        / Content Header (Page header)
        .content-header
          .d-flex.align-items-center
            .mr-auto
              %h3.page-title.br-0 Dashboard
            .right-title.w-170
              %span#dashboard_daterangepicker.subheader_daterange.font-weight-600
                %span.subheader_daterange-label
                  %span.subheader_daterange-title
                  %span.subheader_daterange-date.text-primary
                %a.btn.btn-rounded.btn-sm.btn-primary{:href => "#"}
                  %i.fa.fa-angle-down
        / Main content
        %section.content
          .row
            .col-xl-3.col-12
              .box.box-body.bg-danger.pull-up
                .flexbox.align-items-end.pt-30
                  %div
                    %span.font-size-30.countnm 7591
                    %h6.text-uppercase.text-white-50.mb-0 Total User
                  %span.iconsmind-Add-UserStar.font-size-80.text-white-50
            .col-xl-3.col-12
              .box.box-body.bg-warning.pull-up
                .flexbox.align-items-end.pt-30
                  %div
                    %span.font-size-30.countnm 4875
                    %h6.text-uppercase.text-white-50.mb-0 Total Blogs
                  %span.iconsmind-Brightkite.font-size-80.text-white-50
            .col-xl-3.col-12
              .box.box-body.bg-dark.pull-up
                .flexbox.align-items-end.pt-30
                  %div
                    %span.font-size-30.countnm 9854
                    %h6.text-uppercase.text-white-50.mb-0 Total Followers
                  %span.iconsmind-MaleFemale.font-size-80.text-white-50
            .col-xl-3.col-12
              .box.box-body.bg-info.pull-up
                .flexbox.align-items-end.pt-30
                  %div
                    %span.font-size-30.countnm 4584
                    %h6.text-uppercase.text-white-50.mb-0 Articles
                  %span.iconsmind-File-Cloud.font-size-80.text-white-50
            .col-lg-6.col-12
              / Advanced SMIL Animations
              .box
                .box-header.with-border
                  %h4.box-title Load Average
                .box-body
                  .chart
                    #columnchart1
                / /.box-body
              / /.box
            .col-lg-6.col-12
              / SVG Path animation
              .box
                .box-header.with-border
                  %h4.box-title Processes
                .box-body
                  .chart
                    #linechart1
                / /.box-body
              / /.box
            .col-12.col-xl-4
              .box
                .box-header.with-border
                  %h4.box-title Download Files
                  .dropdown.pull-right
                    %h6.dropdown-toggle.mb-0{"data-toggle" => "dropdown"} Today
                    .dropdown-menu
                      %a.dropdown-item.active{:href => "#"} Today
                      %a.dropdown-item{:href => "#"} Yesterday
                      %a.dropdown-item{:href => "#"} Last week
                      %a.dropdown-item{:href => "#"} Last month
                .box-body.p-0
                  .media-list.media-list-divided
                    .media.media-single
                      %span.font-size-24.text-success
                        %i.iconsmind-File
                      %span.title.font-size-16 Deeveloper Manual
                      %a.font-size-18.text-gray.hover-info{:href => "#"}
                        %i.iconsmind-Data-Download
                    .media.media-single
                      %span.font-size-24.text-primary
                        %i.iconsmind-File-TXT
                      %span.title.font-size-16 Documentation
                      %a.font-size-18.text-gray.hover-info{:href => "#"}
                        %i.iconsmind-Data-Download
                    .media.media-single
                      %span.font-size-24.text-warning
                        %i.iconsmind-File-Excel
                      %span.title.font-size-16 Download Excel version
                      %a.font-size-18.text-gray.hover-info{:href => "#"}
                        %i.iconsmind-Data-Download
                    .media.media-single
                      %span.font-size-24.text-danger
                        %i.iconsmind-File-Zip
                      %span.title.font-size-16 Download Ziped version
                      %a.font-size-18.text-gray.hover-info{:href => "#"}
                        %i.iconsmind-Data-Download
                    .media.media-single
                      %span.font-size-24.text-info
                        %i.iconsmind-File-Word
                      %span.title.font-size-16 Download Word version
                      %a.font-size-18.text-gray.hover-info{:href => "#"}
                        %i.iconsmind-Data-Download
            .col-xl-8.col-12
              .box
                .box-header.with-border
                  %h4.box-title Stacked Bar Chart
                .box-body
                  #stacked-bar
            .col-xl-5.col-12
              .box
                .box-header.with-border
                  %h4.box-title
                    Item Sales
                    %span.font-size-12.text-fade Total Sales By item
                  %ul.box-controls.pull-right
                    %li.dropdown
                      %a{"data-toggle" => "dropdown", :href => "#"}
                        %i.ti-more-alt
                      .dropdown-menu.dropdown-menu-right
                        %a.dropdown-item{:href => "#"}
                          %i.iconsmind-Flash-2
                          Activity
                        %a.dropdown-item{:href => "#"}
                          %i.iconsmind-Email
                          Messages
                        %a.dropdown-item{:href => "#"}
                          %i.iconsmind-File-Edit
                          FAQ
                        .dropdown-divider
                        %a.dropdown-item{:href => "#"}
                          %i.consmind-Gear-2
                          Support
                .box-body.bb-1.bbr-0
                  %span.font-size-50.text-primary $154,875
                  %span.text-fade Total Revenue This Month
                .box-body
                  .row.justify-content-between.pb-25
                    .col-4
                      %h2.mb-0 60%
                      .progress.progress-xs.mb-0.mb-10
                        .progress-bar.bg-warning{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "60", :role => "progressbar", :style => "width: 60%"}
                      %span.font-size-16.text-fade
                        Sales
                    .col-4
                      %h2.mb-0 40%
                      .progress.progress-xs.mb-0.mb-10
                        .progress-bar.bg-danger{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "40", :role => "progressbar", :style => "width: 40%"}
                      %span.font-size-16.text-fade
                        Product
                    .col-4
                      %h2.mb-0 50%
                      .progress.progress-xs.mb-0.mb-10
                        .progress-bar.bg-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "50", :role => "progressbar", :style => "width: 50%"}
                      %span.font-size-16.text-fade
                        Community
              / Advanced SMIL Animations
              .box
                .box-header.with-border
                  %h4.box-title Advanced SMIL Animations
                .box-body
                  .chart
                    .ct-chart-6.h-200
                / /.box-body
              / /.box
            .col-xl-3.col-lg-6.col-12
              .box.bg-danger.bg-temple-dark
                .box-header.no-border
                  %h4
                    %i.fa.fa-map.text-white
                  %ul.box-controls.pull-right
                    %li
                      %a.box-btn-close.text-white{:href => "#"}
                .box-body.mt-20
                  %span.badge.badge-warning New
                  %h2.font-weight-200.mb-0 Contrary to popular
                  %p There are many of passages
              .news-slider.owl-carousel
                .box
                  %img.card-img-top.img-fluid.h-250{:alt => "Card image cap", :src => "../images/card/img1.jpg"}/
                  .box-body
                    .text-center
                      %h4.box-title Blog title
                      %p.box-text Some quick example text to build on the card title and card's content.
                      %a.btn.btn-rounded.btn-primary.btn-sm{:href => "#"} Read more
                  / /.box-body
                .box
                  %img.card-img-top.img-fluid.h-250{:alt => "Card image cap", :src => "../images/card/img2.jpg"}/
                  .box-body
                    .text-center
                      %h4.box-title Blog title
                      %p.box-text Some quick example text to build on the card title and card's content.
                      %a.btn.btn-rounded.btn-primary.btn-sm{:href => "#"} Read more
                  / /.box-body
                .box
                  %img.card-img-top.img-fluid.h-250{:alt => "Card image cap", :src => "../images/card/img3.jpg"}/
                  .box-body
                    .text-center
                      %h4.box-title Blog title
                      %p.box-text Some quick example text to build on the card title and card's content.
                      %a.btn.btn-rounded.btn-primary.btn-sm{:href => "#"} Read more
                  / /.box-body
            .col-12.col-xl-4.col-lg-6
              .box
                .box-header.no-border
                  %h4 Total Income
                  %ul.box-controls.pull-right
                    %li.dropdown
                      %a.btn.btn-rounded.btn-primary.px-10{"data-toggle" => "dropdown", :href => "#"} Stats
                      .dropdown-menu.dropdown-menu-right
                        %a.dropdown-item{:href => "#"}
                          %i.ti-import
                          Import
                        %a.dropdown-item{:href => "#"}
                          %i.ti-export
                          Export
                        %a.dropdown-item{:href => "#"}
                          %i.ti-printer
                          Print
                        .dropdown-divider
                        %a.dropdown-item{:href => "#"}
                          %i.ti-settings
                          Settings
                .box-body
                  .text-center.py-10.bb-1.bb-dashed
                    %h4 Monthly Income
                    %ul.flexbox.flex-justified.text-center.my-20
                      %li.px-10
                        %h6.mb-0.text-bold 8952
                        %small Dubai
                      %li.br-1.bl-1.px-10
                        %h6.mb-0.text-bold 7458
                        %small Miami
                      %li.px-10
                        %h6.mb-0.text-bold 3254
                        %small London
                  .text-center.py-10
                    %h4 Taxes info
                    %ul.flexbox.flex-justified.text-center.my-20
                      %li.px-10
                        %h6.mb-0.text-bold 8952
                        %small Dubai
                      %li.br-1.bl-1.px-10
                        %h6.mb-0.text-bold 7458
                        %small Miami
                      %li.px-10
                        %h6.mb-0.text-bold 3254
                        %small London
                .box-body.p-0.overflow-h
                  #spark1
            .col-12.col-lg-6
              .box
                .box-header
                  %h4.box-title Product Sales
                  %p.subtitle.mb-0 Overview of Latest Month
                .box-body.analytics-info
                  #basic-bar{:style => "height:400px;"}
            .col-lg-6.col-12
              / SVG Path animation
              .box
                .box-header.with-border
                  %h4.box-title Inclusive All Earnings
                .box-body
                  .chart
                    .ct-chart-7{:style => "height:425px;"}
                / /.box-body
              / /.box
        / /.content
    / /.content-wrapper
    %footer.main-footer
      .pull-right.d-none.d-sm-inline-block
        %ul.nav.nav-primary.nav-dotted.nav-dot-separated.justify-content-center.justify-content-md-end
          %li.nav-item
            %a.nav-link{:href => "javascript:void(0)"} FAQ
          %li.nav-item
            %a.nav-link{:href => "#"} Purchase Now
      © 2019
      = succeed "." do
        %a{:href => "https://www.multipurposethemes.com/"} Multi-Purpose Themes
    / Control Sidebar
    %aside.control-sidebar
      .rpanel-title
        %span.pull-right.btn.btn-circle.btn-danger
          %i.ion.ion-close.text-white{"data-toggle" => "control-sidebar"}
      / Create the tabs
      %ul.nav.nav-tabs.control-sidebar-tabs
        %li.nav-item
          %a{"data-toggle" => "tab", :href => "#control-sidebar-home-tab"} Chat
        %li.nav-item
          %a{"data-toggle" => "tab", :href => "#control-sidebar-settings-tab"} Todo
      / Tab panes
      .tab-content
        / Home tab content
        #control-sidebar-home-tab.tab-pane
          .flexbox
            %a.text-grey{:href => "javascript:void(0)"}
              %i.ti-more
            %p Users
            %a.text-right.text-grey{:href => "javascript:void(0)"}
              %i.ti-plus
          .lookup.lookup-sm.lookup-right.d-none.d-lg-block
            %input.w-p100{:name => "s", :placeholder => "Search", :type => "text"}/
          .media-list.media-list-hover.mt-20
            .media.py-10.px-0
              %a.avatar.avatar-lg.status-success{:href => "#"}
                %img{:alt => "...", :src => "../images/avatar/1.jpg"}/
              .media-body
                %p.font-size-16
                  %a.hover-primary{:href => "#"}
                    %strong Tyler
                %p Praesent tristique diam...
                %span Just now
            .media.py-10.px-0
              %a.avatar.avatar-lg.status-danger{:href => "#"}
                %img{:alt => "...", :src => "../images/avatar/2.jpg"}/
              .media-body
                %p.font-size-16
                  %a.hover-primary{:href => "#"}
                    %strong Luke
                %p Cras tempor diam ...
                %span 33 min ago
            .media.py-10.px-0
              %a.avatar.avatar-lg.status-warning{:href => "#"}
                %img{:alt => "...", :src => "../images/avatar/3.jpg"}/
              .media-body
                %p.font-size-16
                  %a.hover-primary{:href => "#"}
                    %strong Evan
                %p In posuere tortor vel...
                %span 42 min ago
            .media.py-10.px-0
              %a.avatar.avatar-lg.status-primary{:href => "#"}
                %img{:alt => "...", :src => "../images/avatar/4.jpg"}/
              .media-body
                %p.font-size-16
                  %a.hover-primary{:href => "#"}
                    %strong Evan
                %p In posuere tortor vel...
                %span 42 min ago
            .media.py-10.px-0
              %a.avatar.avatar-lg.status-success{:href => "#"}
                %img{:alt => "...", :src => "../images/avatar/1.jpg"}/
              .media-body
                %p.font-size-16
                  %a.hover-primary{:href => "#"}
                    %strong Tyler
                %p Praesent tristique diam...
                %span Just now
            .media.py-10.px-0
              %a.avatar.avatar-lg.status-danger{:href => "#"}
                %img{:alt => "...", :src => "../images/avatar/2.jpg"}/
              .media-body
                %p.font-size-16
                  %a.hover-primary{:href => "#"}
                    %strong Luke
                %p Cras tempor diam ...
                %span 33 min ago
            .media.py-10.px-0
              %a.avatar.avatar-lg.status-warning{:href => "#"}
                %img{:alt => "...", :src => "../images/avatar/3.jpg"}/
              .media-body
                %p.font-size-16
                  %a.hover-primary{:href => "#"}
                    %strong Evan
                %p In posuere tortor vel...
                %span 42 min ago
            .media.py-10.px-0
              %a.avatar.avatar-lg.status-primary{:href => "#"}
                %img{:alt => "...", :src => "../images/avatar/4.jpg"}/
              .media-body
                %p.font-size-16
                  %a.hover-primary{:href => "#"}
                    %strong Evan
                %p In posuere tortor vel...
                %span 42 min ago
        / /.tab-pane
        / Settings tab content
        #control-sidebar-settings-tab.tab-pane
          .flexbox
            %a.text-grey{:href => "javascript:void(0)"}
              %i.ti-more
            %p Todo List
            %a.text-right.text-grey{:href => "javascript:void(0)"}
              %i.ti-plus
          %ul.todo-list.mt-20
            %li.py-15.px-5.by-1
              / checkbox
              %input#basic_checkbox_1.filled-in{:type => "checkbox"}/
              %label.mb-0.h-15{:for => "basic_checkbox_1"}
              / todo text
              %span.text-line Nulla vitae purus
              / Emphasis label
              %small.badge.bg-danger
                %i.fa.fa-clock-o
                2 mins
              / General tools such as edit or delete
              .tools
                %i.fa.fa-edit
                %i.fa.fa-trash-o
            %li.py-15.px-5
              / checkbox
              %input#basic_checkbox_2.filled-in{:type => "checkbox"}/
              %label.mb-0.h-15{:for => "basic_checkbox_2"}
              %span.text-line Phasellus interdum
              %small.badge.bg-info
                %i.fa.fa-clock-o
                4 hours
              .tools
                %i.fa.fa-edit
                %i.fa.fa-trash-o
            %li.py-15.px-5.by-1
              / checkbox
              %input#basic_checkbox_3.filled-in{:type => "checkbox"}/
              %label.mb-0.h-15{:for => "basic_checkbox_3"}
              %span.text-line Quisque sodales
              %small.badge.bg-warning
                %i.fa.fa-clock-o
                1 day
              .tools
                %i.fa.fa-edit
                %i.fa.fa-trash-o
            %li.py-15.px-5
              / checkbox
              %input#basic_checkbox_4.filled-in{:type => "checkbox"}/
              %label.mb-0.h-15{:for => "basic_checkbox_4"}
              %span.text-line Proin nec mi porta
              %small.badge.bg-success
                %i.fa.fa-clock-o
                3 days
              .tools
                %i.fa.fa-edit
                %i.fa.fa-trash-o
            %li.py-15.px-5.by-1
              / checkbox
              %input#basic_checkbox_5.filled-in{:type => "checkbox"}/
              %label.mb-0.h-15{:for => "basic_checkbox_5"}
              %span.text-line Maecenas scelerisque
              %small.badge.bg-primary
                %i.fa.fa-clock-o
                1 week
              .tools
                %i.fa.fa-edit
                %i.fa.fa-trash-o
            %li.py-15.px-5
              / checkbox
              %input#basic_checkbox_6.filled-in{:type => "checkbox"}/
              %label.mb-0.h-15{:for => "basic_checkbox_6"}
              %span.text-line Vivamus nec orci
              %small.badge.bg-info
                %i.fa.fa-clock-o
                1 month
              .tools
                %i.fa.fa-edit
                %i.fa.fa-trash-o
            %li.py-15.px-5.by-1
              / checkbox
              %input#basic_checkbox_7.filled-in{:type => "checkbox"}/
              %label.mb-0.h-15{:for => "basic_checkbox_7"}
              / todo text
              %span.text-line Nulla vitae purus
              / Emphasis label
              %small.badge.bg-danger
                %i.fa.fa-clock-o
                2 mins
              / General tools such as edit or delete
              .tools
                %i.fa.fa-edit
                %i.fa.fa-trash-o
            %li.py-15.px-5
              / checkbox
              %input#basic_checkbox_8.filled-in{:type => "checkbox"}/
              %label.mb-0.h-15{:for => "basic_checkbox_8"}
              %span.text-line Phasellus interdum
              %small.badge.bg-info
                %i.fa.fa-clock-o
                4 hours
              .tools
                %i.fa.fa-edit
                %i.fa.fa-trash-o
            %li.py-15.px-5.by-1
              / checkbox
              %input#basic_checkbox_9.filled-in{:type => "checkbox"}/
              %label.mb-0.h-15{:for => "basic_checkbox_9"}
              %span.text-line Quisque sodales
              %small.badge.bg-warning
                %i.fa.fa-clock-o
                1 day
              .tools
                %i.fa.fa-edit
                %i.fa.fa-trash-o
            %li.py-15.px-5
              / checkbox
              %input#basic_checkbox_10.filled-in{:type => "checkbox"}/
              %label.mb-0.h-15{:for => "basic_checkbox_10"}
              %span.text-line Proin nec mi porta
              %small.badge.bg-success
                %i.fa.fa-clock-o
                3 days
              .tools
                %i.fa.fa-edit
                %i.fa.fa-trash-o
        / /.tab-pane
    / /.control-sidebar
    / Add the sidebar's background. This div must be placed immediately after the control sidebar
    .control-sidebar-bg
  / ./wrapper
