%body.hold-transition.light-skin.sidebar-mini.theme-fruit
  .wrapper
    .art-bg
      %img.art-img.light-img{:alt => "", :src => asset_path("default/art1.svg")}/
      %img.art-img.dark-img{:alt => "", :src => asset_path("default/art2.svg")}/
    %header.main-header
      / Logo
      %a.logo{:href => "index.html"}
        / mini logo
        .logo-mini
          %span.light-logo
            %img{:alt => "logo", :src => asset_path("default/logo-light.png")}/
          %span.dark-logo
            %img{:alt => "logo", :src => asset_path("default/logo-dark.png")}/
        / logo
        .logo-lg
          %span.light-logo
            %img{:alt => "logo", :src => asset_path("default/logo-light-text.png")}/
          %span.dark-logo
            %img{:alt => "logo", :src => asset_path("default/logo-dark-text.png")}/
      / Header Navbar
      %nav.navbar.navbar-static-top
        / Sidebar toggle button
        %div
          %a.sidebar-toggle{"data-toggle" => "push-menu", :href => "#", :role => "button"}
            %i.ti-align-left
          %a.sidebar-toggle{"data-provide" => "fullscreen", :href => "#", :title => "Full Screen"}
            %i.mdi.mdi-crop-free
        .navbar-custom-menu.r-side
          %ul.nav.navbar-nav
            / full Screen
            %li.search-bar
              .lookup.lookup-circle.lookup-right
                %input{:name => "s", :type => "text"}/
            / Messages
            %li.dropdown.messages-menu
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :title => "Messages"}
                %i.mdi.mdi-email
              %ul.dropdown-menu.animated.bounceIn
                %li.header
                  .p-20.bg-light
                    .flexbox
                      %div
                        %h4.mb-0.mt-0 Messages
                      %div
                        %a.text-danger{:href => "#"} Clear All
                %li
                  / inner menu: contains the actual data
                  %ul.menu.sm-scrol
                    %li
                      / start message
                      %a{:href => "#"}
                        .pull-left
                          %img.rounded-circle{:alt => "User Image", :src => asset_path("default/user2-160x160.jpg")}/
                        .mail-contnet
                          %h4
                            Lorem Ipsum
                            %small
                              %i.fa.fa-clock-o
                              15 mins
                          %span Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    / end message
                    %li
                      %a{:href => "#"}
                        .pull-left
                          %img.rounded-circle{:alt => "User Image", :src => asset_path("default/user3-128x128.jpg")}/
                        .mail-contnet
                          %h4
                            Nullam tempor
                            %small
                              %i.fa.fa-clock-o
                              4 hours
                          %span Curabitur facilisis erat quis metus congue viverra.
                    %li
                      %a{:href => "#"}
                        .pull-left
                          %img.rounded-circle{:alt => "User Image", :src => asset_path("default/user4-128x128.jpg")}/
                        .mail-contnet
                          %h4
                            Proin venenatis
                            %small
                              %i.fa.fa-clock-o
                              Today
                          %span Vestibulum nec ligula nec quam sodales rutrum sed luctus.
                    %li
                      %a{:href => "#"}
                        .pull-left
                          %img.rounded-circle{:alt => "User Image", :src => asset_path("default/user3-128x128.jpg")}/
                        .mail-contnet
                          %h4
                            Praesent suscipit
                            %small
                              %i.fa.fa-clock-o
                              Yesterday
                          %span Curabitur quis risus aliquet, luctus arcu nec, venenatis neque.
                    %li
                      %a{:href => "#"}
                        .pull-left
                          %img.rounded-circle{:alt => "User Image", :src => asset_path("default/user4-128x128.jpg")}/
                        .mail-contnet
                          %h4
                            Donec tempor
                            %small
                              %i.fa.fa-clock-o
                              2 days
                          %span Praesent vitae tellus eget nibh lacinia pretium.
                %li.footer
                  %a.bg-light{:href => "#"} See all e-Mails
            / Notifications
            %li.dropdown.notifications-menu
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :title => "Notifications"}
                %i.mdi.mdi-bell
              %ul.dropdown-menu.animated.bounceIn
                %li.header
                  .bg-light.p-20
                    .flexbox
                      %div
                        %h4.mb-0.mt-0 Notifications
                      %div
                        %a.text-danger{:href => "#"} Clear All
                %li
                  / inner menu: contains the actual data
                  %ul.menu.sm-scrol
                    %li
                      %a{:href => "#"}
                        %i.fa.fa-users.text-info
                        Curabitur id eros quis nunc suscipit blandit.
                    %li
                      %a{:href => "#"}
                        %i.fa.fa-warning.text-warning
                        Duis malesuada justo eu sapien elementum, in semper diam posuere.
                    %li
                      %a{:href => "#"}
                        %i.fa.fa-users.text-danger
                        Donec at nisi sit amet tortor commodo porttitor pretium a erat.
                    %li
                      %a{:href => "#"}
                        %i.fa.fa-shopping-cart.text-success
                        In gravida mauris et nisi
                    %li
                      %a{:href => "#"}
                        %i.fa.fa-user.text-danger
                        Praesent eu lacus in libero dictum fermentum.
                    %li
                      %a{:href => "#"}
                        %i.fa.fa-user.text-primary
                        Nunc fringilla lorem
                    %li
                      %a{:href => "#"}
                        %i.fa.fa-user.text-success
                        Nullam euismod dolor ut quam interdum, at scelerisque ipsum imperdiet.
                %li.footer
                  %a.bg-light{:href => "#"} View all
            / User Account
            %li.dropdown.user.user-menu
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :title => "User"}
                %img.user-image.rounded-circle{:alt => "User Image", :src => asset_path("default/avatar/7.jpg")}/
              %ul.dropdown-menu.animated.flipInX
                / User image
                %li.user-header.bg-img{"data-overlay" => "3", :style => "background-image: url(../images/user-info.jpg)"}
                  .flexbox.align-self-center
                    %img.float-left.rounded-circle{:alt => "User Image", :src => asset_path("default/avatar/7.jpg")}/
                    %h4.user-name.align-self-center
                      %span Samuel Brus
                      %small samuel@gmail.com
                / Menu Body
                %li.user-body
                  %a.dropdown-item{:href => "javascript:void(0)"}
                    %i.ion.ion-person
                    My Profile
                  %a.dropdown-item{:href => "javascript:void(0)"}
                    %i.ion.ion-bag
                    My Balance
                  %a.dropdown-item{:href => "javascript:void(0)"}
                    %i.ion.ion-email-unread
                    Inbox
                  .dropdown-divider
                  %a.dropdown-item{:href => "javascript:void(0)"}
                    %i.ion.ion-settings
                    Account Setting
                  .dropdown-divider
                  %a.dropdown-item{:href => "javascript:void(0)"}
                    %i.ion-log-out
                    Logout
                  .dropdown-divider
                  .p-10
                    %a.btn.btn-sm.btn-rounded.btn-success{:href => "javascript:void(0)"} View Profile
            / Control Sidebar Toggle Button
            %li
              %a{"data-toggle" => "control-sidebar", :href => "#", :title => "Setting"}
                %i.fa.fa-cog.fa-spin
    / Left side column. contains the logo and sidebar
    =render partial: "admin/navigation/left_menu"
    / Content Wrapper. Contains page content
    .content-wrapper
      .container-full
        / Content Header (Page header)
        .content-header
          .d-flex.align-items-center
            .mr-auto
              %h3.page-title.br-0 Dashboard
            .right-title.w-170
              %span#dashboard_daterangepicker.subheader_daterange.font-weight-600
                %span.subheader_daterange-label
                  %span.subheader_daterange-title
                  %span.subheader_daterange-date.text-primary
                %a.btn.btn-rounded.btn-sm.btn-primary{:href => "#"}
                  %i.fa.fa-angle-down
        / Main content
        %section.content
          .row
            .col-xl-3.col-12
              .box.box-body.bg-danger.pull-up
                .flexbox.align-items-end.pt-30
                  %div
                    %span.font-size-30.countnm 7591
                    %h6.text-uppercase.text-white-50.mb-0 Total User
                  %span.iconsmind-Add-UserStar.font-size-80.text-white-50
            .col-xl-3.col-12
              .box.box-body.bg-warning.pull-up
                .flexbox.align-items-end.pt-30
                  %div
                    %span.font-size-30.countnm 4875
                    %h6.text-uppercase.text-white-50.mb-0 Total Blogs
                  %span.iconsmind-Brightkite.font-size-80.text-white-50
            .col-xl-3.col-12
              .box.box-body.bg-dark.pull-up
                .flexbox.align-items-end.pt-30
                  %div
                    %span.font-size-30.countnm 9854
                    %h6.text-uppercase.text-white-50.mb-0 Total Followers
                  %span.iconsmind-MaleFemale.font-size-80.text-white-50
            .col-xl-3.col-12
              .box.box-body.bg-info.pull-up
                .flexbox.align-items-end.pt-30
                  %div
                    %span.font-size-30.countnm 4584
                    %h6.text-uppercase.text-white-50.mb-0 Articles
                  %span.iconsmind-File-Cloud.font-size-80.text-white-50
            .col-lg-6.col-12
              / Advanced SMIL Animations
              .box
                .box-header.with-border
                  %h4.box-title Load Average
                .box-body
                  .chart
                    #columnchart1
                / /.box-body
              / /.box
            .col-lg-6.col-12
              / SVG Path animation
              .box
                .box-header.with-border
                  %h4.box-title Processes
                .box-body
                  .chart
                    #linechart1
                / /.box-body
              / /.box
            .col-12.col-xl-4
              .box
                .box-header.with-border
                  %h4.box-title Download Files
                  .dropdown.pull-right
                    %h6.dropdown-toggle.mb-0{"data-toggle" => "dropdown"} Today
                    .dropdown-menu
                      %a.dropdown-item.active{:href => "#"} Today
                      %a.dropdown-item{:href => "#"} Yesterday
                      %a.dropdown-item{:href => "#"} Last week
                      %a.dropdown-item{:href => "#"} Last month
                .box-body.p-0
                  .media-list.media-list-divided
                    .media.media-single
                      %span.font-size-24.text-success
                        %i.iconsmind-File
                      %span.title.font-size-16 Deeveloper Manual
                      %a.font-size-18.text-gray.hover-info{:href => "#"}
                        %i.iconsmind-Data-Download
                    .media.media-single
                      %span.font-size-24.text-primary
                        %i.iconsmind-File-TXT
                      %span.title.font-size-16 Documentation
                      %a.font-size-18.text-gray.hover-info{:href => "#"}
                        %i.iconsmind-Data-Download
                    .media.media-single
                      %span.font-size-24.text-warning
                        %i.iconsmind-File-Excel
                      %span.title.font-size-16 Download Excel version
                      %a.font-size-18.text-gray.hover-info{:href => "#"}
                        %i.iconsmind-Data-Download
                    .media.media-single
                      %span.font-size-24.text-danger
                        %i.iconsmind-File-Zip
                      %span.title.font-size-16 Download Ziped version
                      %a.font-size-18.text-gray.hover-info{:href => "#"}
                        %i.iconsmind-Data-Download
                    .media.media-single
                      %span.font-size-24.text-info
                        %i.iconsmind-File-Word
                      %span.title.font-size-16 Download Word version
                      %a.font-size-18.text-gray.hover-info{:href => "#"}
                        %i.iconsmind-Data-Download
            .col-xl-8.col-12
              .box
                .box-header.with-border
                  %h4.box-title Stacked Bar Chart
                .box-body
                  #stacked-bar
            .col-xl-5.col-12
              .box
                .box-header.with-border
                  %h4.box-title
                    Item Sales
                    %span.font-size-12.text-fade Total Sales By item
                  %ul.box-controls.pull-right
                    %li.dropdown
                      %a{"data-toggle" => "dropdown", :href => "#"}
                        %i.ti-more-alt
                      .dropdown-menu.dropdown-menu-right
                        %a.dropdown-item{:href => "#"}
                          %i.iconsmind-Flash-2
                          Activity
                        %a.dropdown-item{:href => "#"}
                          %i.iconsmind-Email
                          Messages
                        %a.dropdown-item{:href => "#"}
                          %i.iconsmind-File-Edit
                          FAQ
                        .dropdown-divider
                        %a.dropdown-item{:href => "#"}
                          %i.consmind-Gear-2
                          Support
                .box-body.bb-1.bbr-0
                  %span.font-size-50.text-primary $154,875
                  %span.text-fade Total Revenue This Month
                .box-body
                  .row.justify-content-between.pb-25
                    .col-4
                      %h2.mb-0 60%
                      .progress.progress-xs.mb-0.mb-10
                        .progress-bar.bg-warning{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "60", :role => "progressbar", :style => "width: 60%"}
                      %span.font-size-16.text-fade
                        Sales
                    .col-4
                      %h2.mb-0 40%
                      .progress.progress-xs.mb-0.mb-10
                        .progress-bar.bg-danger{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "40", :role => "progressbar", :style => "width: 40%"}
                      %span.font-size-16.text-fade
                        Product
                    .col-4
                      %h2.mb-0 50%
                      .progress.progress-xs.mb-0.mb-10
                        .progress-bar.bg-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "50", :role => "progressbar", :style => "width: 50%"}
                      %span.font-size-16.text-fade
                        Community
              / Advanced SMIL Animations
              .box
                .box-header.with-border
                  %h4.box-title Advanced SMIL Animations
                .box-body
                  .chart
                    .ct-chart-6.h-200
                / /.box-body
              / /.box
            .col-xl-3.col-lg-6.col-12
              .box.bg-danger.bg-temple-dark
                .box-header.no-border
                  %h4
                    %i.fa.fa-map.text-white
                  %ul.box-controls.pull-right
                    %li
                      %a.box-btn-close.text-white{:href => "#"}
                .box-body.mt-20
                  %span.badge.badge-warning New
                  %h2.font-weight-200.mb-0 Contrary to popular
                  %p There are many of passages
              .news-slider.owl-carousel
                .box
                  %img.card-img-top.img-fluid.h-250{:alt => "Card image cap", :src => asset_path("default/card/img1.jpg")}/
                  .box-body
                    .text-center
                      %h4.box-title Blog title
                      %p.box-text Some quick example text to build on the card title and card's content.
                      %a.btn.btn-rounded.btn-primary.btn-sm{:href => "#"} Read more
                  / /.box-body
                .box
                  %img.card-img-top.img-fluid.h-250{:alt => "Card image cap", :src => asset_path("default/card/img2.jpg")}/
                  .box-body
                    .text-center
                      %h4.box-title Blog title
                      %p.box-text Some quick example text to build on the card title and card's content.
                      %a.btn.btn-rounded.btn-primary.btn-sm{:href => "#"} Read more
                  / /.box-body
                .box
                  %img.card-img-top.img-fluid.h-250{:alt => "Card image cap", :src => asset_path("default/card/img3.jpg")}/
                  .box-body
                    .text-center
                      %h4.box-title Blog title
                      %p.box-text Some quick example text to build on the card title and card's content.
                      %a.btn.btn-rounded.btn-primary.btn-sm{:href => "#"} Read more
                  / /.box-body
            .col-12.col-xl-4.col-lg-6
              .box
                .box-header.no-border
                  %h4 Total Income
                  %ul.box-controls.pull-right
                    %li.dropdown
                      %a.btn.btn-rounded.btn-primary.px-10{"data-toggle" => "dropdown", :href => "#"} Stats
                      .dropdown-menu.dropdown-menu-right
                        %a.dropdown-item{:href => "#"}
                          %i.ti-import
                          Import
                        %a.dropdown-item{:href => "#"}
                          %i.ti-export
                          Export
                        %a.dropdown-item{:href => "#"}
                          %i.ti-printer
                          Print
                        .dropdown-divider
                        %a.dropdown-item{:href => "#"}
                          %i.ti-settings
                          Settings
                .box-body
                  .text-center.py-10.bb-1.bb-dashed
                    %h4 Monthly Income
                    %ul.flexbox.flex-justified.text-center.my-20
                      %li.px-10
                        %h6.mb-0.text-bold 8952
                        %small Dubai
                      %li.br-1.bl-1.px-10
                        %h6.mb-0.text-bold 7458
                        %small Miami
                      %li.px-10
                        %h6.mb-0.text-bold 3254
                        %small London
                  .text-center.py-10
                    %h4 Taxes info
                    %ul.flexbox.flex-justified.text-center.my-20
                      %li.px-10
                        %h6.mb-0.text-bold 8952
                        %small Dubai
                      %li.br-1.bl-1.px-10
                        %h6.mb-0.text-bold 7458
                        %small Miami
                      %li.px-10
                        %h6.mb-0.text-bold 3254
                        %small London
                .box-body.p-0.overflow-h
                  #spark1
            .col-12.col-lg-6
              .box
                .box-header
                  %h4.box-title Product Sales
                  %p.subtitle.mb-0 Overview of Latest Month
                .box-body.analytics-info
                  #basic-bar{:style => "height:400px;"}
            .col-lg-6.col-12
              / SVG Path animation
              .box
                .box-header.with-border
                  %h4.box-title Inclusive All Earnings
                .box-body
                  .chart
                    .ct-chart-7{:style => "height:425px;"}
                / /.box-body
              / /.box
        / /.content
    / /.content-wrapper
    %footer.main-footer
      .pull-right.d-none.d-sm-inline-block
        %ul.nav.nav-primary.nav-dotted.nav-dot-separated.justify-content-center.justify-content-md-end
          %li.nav-item
            %a.nav-link{:href => "javascript:void(0)"} FAQ
          %li.nav-item
            %a.nav-link{:href => "#"} Purchase Now
      © 2019
      = succeed "." do
        %a{:href => "https://www.multipurposethemes.com/"} Multi-Purpose Themes
    / Control Sidebar
    %aside.control-sidebar
      .rpanel-title
        %span.pull-right.btn.btn-circle.btn-danger
          %i.ion.ion-close.text-white{"data-toggle" => "control-sidebar"}
      / Create the tabs
      %ul.nav.nav-tabs.control-sidebar-tabs
        %li.nav-item
          %a{"data-toggle" => "tab", :href => "#control-sidebar-home-tab"} Chat
        %li.nav-item
          %a{"data-toggle" => "tab", :href => "#control-sidebar-settings-tab"} Todo
      / Tab panes
      .tab-content
        / Home tab content
        #control-sidebar-home-tab.tab-pane
          .flexbox
            %a.text-grey{:href => "javascript:void(0)"}
              %i.ti-more
            %p Users
            %a.text-right.text-grey{:href => "javascript:void(0)"}
              %i.ti-plus
          .lookup.lookup-sm.lookup-right.d-none.d-lg-block
            %input.w-p100{:name => "s", :placeholder => "Search", :type => "text"}/
          .media-list.media-list-hover.mt-20
            .media.py-10.px-0
              %a.avatar.avatar-lg.status-success{:href => "#"}
                %img{:alt => "...", :src => asset_path("default/avatar/1.jpg")}/
              .media-body
                %p.font-size-16
                  %a.hover-primary{:href => "#"}
                    %strong Tyler
                %p Praesent tristique diam...
                %span Just now
            .media.py-10.px-0
              %a.avatar.avatar-lg.status-danger{:href => "#"}
                %img{:alt => "...", :src => asset_path("default/avatar/2.jpg")}/
              .media-body
                %p.font-size-16
                  %a.hover-primary{:href => "#"}
                    %strong Luke
                %p Cras tempor diam ...
                %span 33 min ago
            .media.py-10.px-0
              %a.avatar.avatar-lg.status-warning{:href => "#"}
                %img{:alt => "...", :src => asset_path("default/avatar/3.jpg")}/
              .media-body
                %p.font-size-16
                  %a.hover-primary{:href => "#"}
                    %strong Evan
                %p In posuere tortor vel...
                %span 42 min ago
            .media.py-10.px-0
              %a.avatar.avatar-lg.status-primary{:href => "#"}
                %img{:alt => "...", :src => asset_path("default/avatar/4.jpg")}/
              .media-body
                %p.font-size-16
                  %a.hover-primary{:href => "#"}
                    %strong Evan
                %p In posuere tortor vel...
                %span 42 min ago
            .media.py-10.px-0
              %a.avatar.avatar-lg.status-success{:href => "#"}
                %img{:alt => "...", :src => asset_path("default/avatar/1.jpg")}/
              .media-body
                %p.font-size-16
                  %a.hover-primary{:href => "#"}
                    %strong Tyler
                %p Praesent tristique diam...
                %span Just now
            .media.py-10.px-0
              %a.avatar.avatar-lg.status-danger{:href => "#"}
                %img{:alt => "...", :src => asset_path("default/avatar/2.jpg")}/
              .media-body
                %p.font-size-16
                  %a.hover-primary{:href => "#"}
                    %strong Luke
                %p Cras tempor diam ...
                %span 33 min ago
            .media.py-10.px-0
              %a.avatar.avatar-lg.status-warning{:href => "#"}
                %img{:alt => "...", :src => asset_path("default/avatar/3.jpg")}/
              .media-body
                %p.font-size-16
                  %a.hover-primary{:href => "#"}
                    %strong Evan
                %p In posuere tortor vel...
                %span 42 min ago
            .media.py-10.px-0
              %a.avatar.avatar-lg.status-primary{:href => "#"}
                %img{:alt => "...", :src => asset_path("default/avatar/4.jpg")}/
              .media-body
                %p.font-size-16
                  %a.hover-primary{:href => "#"}
                    %strong Evan
                %p In posuere tortor vel...
                %span 42 min ago
        / /.tab-pane
        / Settings tab content
        #control-sidebar-settings-tab.tab-pane
          .flexbox
            %a.text-grey{:href => "javascript:void(0)"}
              %i.ti-more
            %p Todo List
            %a.text-right.text-grey{:href => "javascript:void(0)"}
              %i.ti-plus
          %ul.todo-list.mt-20
            %li.py-15.px-5.by-1
              / checkbox
              %input#basic_checkbox_1.filled-in{:type => "checkbox"}/
              %label.mb-0.h-15{:for => "basic_checkbox_1"}
              / todo text
              %span.text-line Nulla vitae purus
              / Emphasis label
              %small.badge.bg-danger
                %i.fa.fa-clock-o
                2 mins
              / General tools such as edit or delete
              .tools
                %i.fa.fa-edit
                %i.fa.fa-trash-o
            %li.py-15.px-5
              / checkbox
              %input#basic_checkbox_2.filled-in{:type => "checkbox"}/
              %label.mb-0.h-15{:for => "basic_checkbox_2"}
              %span.text-line Phasellus interdum
              %small.badge.bg-info
                %i.fa.fa-clock-o
                4 hours
              .tools
                %i.fa.fa-edit
                %i.fa.fa-trash-o
            %li.py-15.px-5.by-1
              / checkbox
              %input#basic_checkbox_3.filled-in{:type => "checkbox"}/
              %label.mb-0.h-15{:for => "basic_checkbox_3"}
              %span.text-line Quisque sodales
              %small.badge.bg-warning
                %i.fa.fa-clock-o
                1 day
              .tools
                %i.fa.fa-edit
                %i.fa.fa-trash-o
            %li.py-15.px-5
              / checkbox
              %input#basic_checkbox_4.filled-in{:type => "checkbox"}/
              %label.mb-0.h-15{:for => "basic_checkbox_4"}
              %span.text-line Proin nec mi porta
              %small.badge.bg-success
                %i.fa.fa-clock-o
                3 days
              .tools
                %i.fa.fa-edit
                %i.fa.fa-trash-o
            %li.py-15.px-5.by-1
              / checkbox
              %input#basic_checkbox_5.filled-in{:type => "checkbox"}/
              %label.mb-0.h-15{:for => "basic_checkbox_5"}
              %span.text-line Maecenas scelerisque
              %small.badge.bg-primary
                %i.fa.fa-clock-o
                1 week
              .tools
                %i.fa.fa-edit
                %i.fa.fa-trash-o
            %li.py-15.px-5
              / checkbox
              %input#basic_checkbox_6.filled-in{:type => "checkbox"}/
              %label.mb-0.h-15{:for => "basic_checkbox_6"}
              %span.text-line Vivamus nec orci
              %small.badge.bg-info
                %i.fa.fa-clock-o
                1 month
              .tools
                %i.fa.fa-edit
                %i.fa.fa-trash-o
            %li.py-15.px-5.by-1
              / checkbox
              %input#basic_checkbox_7.filled-in{:type => "checkbox"}/
              %label.mb-0.h-15{:for => "basic_checkbox_7"}
              / todo text
              %span.text-line Nulla vitae purus
              / Emphasis label
              %small.badge.bg-danger
                %i.fa.fa-clock-o
                2 mins
              / General tools such as edit or delete
              .tools
                %i.fa.fa-edit
                %i.fa.fa-trash-o
            %li.py-15.px-5
              / checkbox
              %input#basic_checkbox_8.filled-in{:type => "checkbox"}/
              %label.mb-0.h-15{:for => "basic_checkbox_8"}
              %span.text-line Phasellus interdum
              %small.badge.bg-info
                %i.fa.fa-clock-o
                4 hours
              .tools
                %i.fa.fa-edit
                %i.fa.fa-trash-o
            %li.py-15.px-5.by-1
              / checkbox
              %input#basic_checkbox_9.filled-in{:type => "checkbox"}/
              %label.mb-0.h-15{:for => "basic_checkbox_9"}
              %span.text-line Quisque sodales
              %small.badge.bg-warning
                %i.fa.fa-clock-o
                1 day
              .tools
                %i.fa.fa-edit
                %i.fa.fa-trash-o
            %li.py-15.px-5
              / checkbox
              %input#basic_checkbox_10.filled-in{:type => "checkbox"}/
              %label.mb-0.h-15{:for => "basic_checkbox_10"}
              %span.text-line Proin nec mi porta
              %small.badge.bg-success
                %i.fa.fa-clock-o
                3 days
              .tools
                %i.fa.fa-edit
                %i.fa.fa-trash-o
        / /.tab-pane
    / /.control-sidebar
    / Add the sidebar's background. This div must be placed immediately after the control sidebar
    .control-sidebar-bg
  / ./wrapper
