-if posts.present?
  -posts.each do |post|
    -cache post do
      =render partial: "front/posts/preview", locals: { post: post }
  -if Post.count > Pagy::VARS[:items]
    .pagy_nav
      != pagy_bootstrap_nav(@pagy)

-else
  %h4="No posts found for '#{dig_params(params)}'. Please try a new search."
