#notfound
  .notfound
    .notfound-bg
      %div
      %div
      %div
    %h1 oops!
    %h2 Error 500 : We've got an error on our side
    %h3 Our engineers are already notified. Try something new?
    %a{:href => root_path} go back
    .notfound-social
      %a{:href => "#"}
        %i.fa.fa-facebook
      %a{:href => "#"}
        %i.fa.fa-twitter
      %a{:href => "#"}
        %i.fa.fa-pinterest
      %a{:href => "#"}
        %i.fa.fa-google-plus
