/ THE FOOTER
%footer
  .footer_slider
    .swiper-container{"data-add-slides" => "16", "data-autoplay" => "0", "data-center" => "0", "data-lg-slides" => "16", "data-md-slides" => "16", "data-slides-per-view" => "responsive", "data-sm-slides" => "8", "data-speed" => "500", "data-xs-slides" => "4"}
      .swiper-wrapper
        -@footer_posts.each_with_index do |post, index|
          .swiper-slide{"data-val" => index, class: "#{'active' if index == 0}"}
            %a{:href => post_path(post)}
              =dig_images(object: post, version: "small")
      .pagination.hidden
  .footer-main
    .container-fluid.custom-container
      .row
        .col-md-3.col-xl-4
          .footer-block
            %h1.footer-title About Us
            %p
              Transmogram is a resource, created by passionate WoW fashionists. We would love to give you the opportunity to share the most fabulous character outfits with the world. Let the community decide how awesome your transmog set ist! You can contact the author using one of the links below:
            %ul.soc_buttons
              %li
                %a{:href => "https://www.facebook.com/anton.kostin.5"}
                  %i.fa.fa-facebook
              %li
                %a{:href => "https://twitter.com/MohnstrudelLove"}
                  %i.fa.fa-twitter
              %li
                %a{:href => "https://www.instagram.com/mohnstrudellove/"}
                  %i.fa.fa-instagram
              %li
                %a{:href => "https://www.linkedin.com/in/anton-kostin-5ba0959a/"}
                  %i.fa.fa-linkedin
        .col-md-3.col-xl-2
          .footer-block
            %h1.footer-title Some Links
            .row.footer-list-footer
              .col-md-6
                %ul.link-list
                  / %li
                  /   %a{:href => "about-us.html"} About Us
                  %li
                    %a{:href => help_path} Help
                  %li
                    %a{:href => contact_path} Contacts
                  / %li
                  /   %a{:href => "activity.html"} Job
                  / %li
                  /   %a{:href => "activity.html"} Projets
              .col-md-6
                %ul.link-list
                  / %li
                  /   %a{:href => "activity.html"} New Works
                  / %li
                  /   %a{:href => "author.html"} Popular Authors
                  / %li
                  /   %a{:href => "author.html"} New Authors
                  / %li
                  /   %a{:href => "people.html"} Career
                  %li
                    %a{:href => "#"} FAQ
        .col-md-3.galerry
          .footer-block
            %h1.footer-title Recent Works
            -@footer_posts.each do |post|
              %a{:href => post_path(post)}
                =dig_images(object: post, version: "supersmall")

        .col-md-3
          .footer-block
            %h1.footer-title Subscribe On Our News
            %form.subscribe-form{:action => "./"}
              %input{:placeholder => "Not implemented yet :)", :required => "", :type => "text"}/
              .submit-block
                %i.fa.fa-envelope-o
                %input{:type => "submit", :value => ""}/
            .soc-activity
              .soc_ico_triangle
                %i.fa.fa-twitter
              .message-soc
                .date 16h ago
                This is a fake Twitter implementation. It will be replaced with a real one soon.
  .footer-bottom
    .container-fluid.custom-container
      .col-md-12.footer-end.clearfix
        .left
          %span.copy
            © 2019. All rights reserved.
            %span.white
              %a{:href => "https://blog.handsomecake.com"} HandsomecakeStudios
          %span.created
            Created with LOVE by
            %span.white
              %a{:href => "https://twitter.com/MohnstrudelLove"} Mohnstrudel
        .right
          %a.btn.color-7.size-2.hover-9{ href: about_path } About Us
          %a.btn.color-7.size-2.hover-9{ href: help_path } Help
          %a.btn.color-7.size-2.hover-9{ href: contact_path} Privacy Policy
