/ THE HEADER
.container-fluid.custom-container
  .row.no_row.row-header
    .brand-be
      %a{:href => root_path}
        %img.logo-c.active.be_logo{:alt => "logo", :src => asset_path("front_default/logo_2.jpg"), width: 240}/
    .header-menu-block
      %button.cmn-toggle-switch.cmn-toggle-switch__htx
        %span
      =render partial: "front/shared/header_upper_nav_menu"
    .hide_on_small_screens
      -if current_user
        .login-header-block
          .login-block
            =link_to 'Logout', destroy_user_session_path, class: "btn-login btn color-1 size-2 hover-2", method: :delete
        .login-header-block
          .login-block
            =link_to edit_user_registration_path, class: "btn-login btn color-1 size-2 hover-2" do
              %i.fa.fa-user
              Profile
        .login-header-block
          .login-block
            .be-drop-down.no-after.login-user-down
              -if current_user.avatar.present?
                %img.login-user{:alt => "", :src => current_user.avatar[:small].url, width: 36}/
              -else
                =placeholdit_image_tag "50", text: "Avatar", background_color: '#E4CDAB', width: 36, height: 36, class: "login-user"
              %span.be-dropdown-content
                Hi,
                %span=current_user&.nickname

      -else
        .login-header-block
          =link_to new_user_session_path, class: "btn-login btn color-1 size-2 hover-2" do
            .login_block
              %i.fa.fa-user
              Log in