.head-bg
  .head-bg-img
  .head-bg-content
    %h1 Transmogram
    %p  Your Resource for WoW Transmogrification Fashion
    / %a.btn.color-1.size-1.hover-1
    /   %i.fa.fa-facebook>
    /   sign up via facebook
    =link_to new_post_path, class: 'btn color-3 size-1 hover-6', method: :get do
      %i.fa.fa-upload>
      UPLOAD TRANSMOGRAM PICTURES
/ %p.alert.alert-success="hello"