/ MAIN CONTENT
#content-block
  .container.custom-container.be-detail-container
    .block
      %h2.content-title Upload your file(s)
      .block-subtitle Create a post with one or multiple transmogrification pictures. Please select armor type and your character class.
      .contect-form.centered_narrow
        =form_with model: Post.new, class: "form-block", local: true do |f|
          = f.hidden_field :user_id, value: current_user.id, class:'d-none'
          .row
            .col-xs-12.col-sm-6
              .form-group.fl_icon
                .icon
                  %i.fa.fa-cloud-upload.cloud_upload_custom_size
                = f.file_field :images, class: "form-input", multiple: true
            .col-xs-12.col-sm-6.fl_icon
              .form-group.fl_icon
                .icon
                  %i.fa.fa-tag.cloud_upload_custom_size
                =f.text_field :title, class: "form-input", placeholder: "A neat title, e.g. 'My dark leather druid'"
          .row.margin_bot_20
            .col-xs-12.col-sm-6.fl_icon
              .be-custom-select-block
                =f.collection_select(:armor_type_id, ArmorType.all, :id, :value, {:prompt => "Select Armor Type"}, {class: "be-custom-select"})

            .col-xs-12.col-sm-6.fl_icon
              .be-custom-select-block
                =f.collection_select(:class_type_id, ClassType.all, :id, :value, {:prompt => "Select Character Class"}, {class: "be-custom-select"})
          .row
            .col-xs-12
              .form-group
                =f.text_area :description, class: 'form-input', placeholder: "Insert your description there. Tags can be created using #-symbol. For example 'I love my #paladin #sunset set'"
            = f.submit 'Create Post', class: 'btn color-1 size-2 hover-1 pull-right'
