/ We get Tags from static_pages controller (home)
=form_with url: search_path, method: :get do |form|
  %ul
    -@tags.each do |tag|
      %li
        / =form.submit tag[1], class: "filter"
        =link_to tag[1], search_path(query: tag[1]), class: "filter", remote: true
        / %a.filter{href: search_path(query: tag[1])}=tag[1]