%ul
  %li
    %a.filter{"data-filter" => ".category-6"} photoshop
  %li
    %a.filter{"data-filter" => ".category-1"} graphic
  %li
    %a.filter{"data-filter" => ".category-2"} art
  %li
    %a.filter{"data-filter" => ".category-3"} website
  %li
    %a.filter{"data-filter" => ".category-4"} logo
  %li
    %a.filter{"data-filter" => ".category-5"} identity
  %li
    %a.filter{"data-filter" => ".category-6"} logo design
  %li
    %a.filter{"data-filter" => ".category-1"} interactive
  %li
    %a.filter{"data-filter" => ".category-2"} blue
  %li
    %a.filter{"data-filter" => ".category-3"} branding