.be-desc-block
  -if @user.bio
    .be-desc-author
      .be-desc-label About Me
      .clearfix
      .be-desc-text
        =@user.bio
  / .be-desc-author
  /   .be-desc-label My Values
  /   .clearfix
  /   .be-desc-text
  /     Sed dignissim scelerisque pretium. Vestibulum vel lacus laoreet nunc fermentum maximus. Proin id sodales sem, at consectetur urna. Proin vestibulum, erat a hendrerit sodales, nulla libero ornare dolor.
  / .be-desc-author
  /   .be-desc-label My Skills
  /   .clearfix
  /   .be-desc-text
  /     Praesent pharetra eget ante nec sodales. Sed et orci sit amet justo lobortis luctus. Curabitur sit amet congue purus. Sed arcu lectus, suscipit in finibus id, consequat sagittis arcu.