.be-ava-right.btn.btn-message.color-4.size-2.hover-7
  %i.fa.fa-envelope-o>
  message
  .message-popup
    .message-popup-inner.container
      .row
        .col-xs-12.col-sm-8.col-sm-offset-2
          %i.fa.fa-times.close-button
          %h5.large-popup-title Send Message To DaVinchi
          .form-group
            %textarea.form-input{:placeholder => "Your text", :required => ""}
          %a.btn.btn-right.color-1.size-1.hover-1 send message