.be-user-social
  %a.social-btn.color-1{:href => "page1.html"}
    %i.fa.fa-facebook
  %a.social-btn.color-2{:href => "page1.html"}
    %i.fa.fa-twitter
  %a.social-btn.color-3{:href => "page1.html"}
    %i.fa.fa-google-plus
  %a.social-btn.color-4{:href => "page1.html"}
    %i.fa.fa-pinterest-p
  %a.social-btn.color-5{:href => "page1.html"}
    %i.fa.fa-instagram
  %a.social-btn.color-6{:href => "page1.html"}
    %i.fa.fa-linkedin
%a.be-user-site{:href => "http://www.phoenix.cool"}
  %i.fa.fa-link
  www.phoenix.cool