.be-user-statistic
  .stat-row.clearfix
    %i.stat-icon.icon-views-b
    Projects views
    %span.stat-counter 218098
  .stat-row.clearfix
    %i.stat-icon.icon-like-b>
    Appreciations
    %span.stat-counter 14335
  .stat-row.clearfix
    %i.stat-icon.icon-followers-b>
    Followers
    %span.stat-counter 2208
  .stat-row.clearfix
    %i.stat-icon.icon-following-b>
    Following
    %span.stat-counter 0