.container.be-detail-container
  .row
    .col-xs-12.col-md-12._editor-content_
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = render "devise/shared/error_messages", resource: resource
        .be-large-post
          .info-block.style-2
            .be-large-post-align
              %h3.info-block-label Your Profile
          .be-large-post-align
            .be-change-ava
              %a.be-ava-user.style-2{:href => "#"}
                -if current_user.avatar.present?
                  =image_tag current_user.avatar.url(:thumb)
              .form-label Choose your avatar
              =f.file_field :avatar, class: "btn color-4 size-2 hover-7 form-control-file"
          .be-large-post-align
            .row
              .input-col.col-xs-12.col-sm-6
                .form-group.fg_icon.focus-2
                  .form-label Nickname
                  =f.text_field :nickname, class: "form-input"
              .input-col.col-xs-12.col-sm-6
                .form-group.focus-2
                  .form-label Your Firstname (optional)
                  =f.text_field :firstname, class: "form-input"
            .row
              .input-col.col-xs-12.col-sm-12
                .form-group.fg_icon.focus-2
                  .form-label Email
                  =f.email_field :email, class: "form-input"
            .row
              .input-col.col-xs-12.col-sm-12
                .form-group.focus-2.fg_icon
                  .form-label Bio
                  =f.text_area :bio, class: "form-input"
            .row
              .input-col.col-xs-12.col-sm-6
                .form-group.focus-2
                  .form-label Change password
                  =f.password_field :password, autocomplete: "new-password", class: "form-input"
              .input-col.col-xs-12.col-sm-6
                .form-group.focus-2
                  .form-label Confirm
                  =f.password_field :password_confirmation, autocomplete: "new-password", class: "form-input"
        =f.button(class: "btn full color-1 size-1 hover-1 add_section") do
          %i.fa.fa-save>
          Save changes


.container.be-detail-container
  .row
    .col-xs-12.col-md-12._editor-content_
      %h3 Cancel my account
      %p
        Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?"}, class: "form-control", method: :delete}
