-images.each do |image|
  .gallery-box.clearfix
    %a.gallery-a
      -if image.image_value[:small]
        =image_tag image.image_value[:small].url
      -else
        =image_tag image.image_value.url, width: 100
    .gallery-info
      %h3=image.post.title
      %p=image.post.description
      %p="ID vom Post: #{image.post.id}"
    .gallery-btn
      =link_to "ACCEPT", activate_path(image), class: "btn-login btn color-2 size-2 hover-2", remote: true, method: :post
      =link_to "DELETE", image_path(image), class: "btn-login btn color-3 size-2 hover-2", method: :delete, remote: true


