// @import "bootstrap/dist/css/bootstrap";
@import "front/bootstrap.min";
@import "front/font-awesome-overwrite";
@import "front/icon";
@import "front/loader";
@import "front/idangerous.swiper";
@import "front/stylesheet";
@import "front/static_pages";
@import "front/errors";
@import "bootstrap-fileinput/css/fileinput";
@import "glyphicons/glyphicon";


.vote-form {
  margin-bottom: 3em;
}

.cloud_upload_custom_size {
  font-size: 2em;
  margin-top: 10px;
}

.centered_narrow{
  max-width: 80%;
  margin: auto;
}

.margin_bot_20{
  margin-bottom: 20px;
}